.counters{
    background: #95e1d3;
    margin-top: 70px;
}
.counter {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.counter__item {
    flex: 1 1 0;
    border-left: 1px solid #fff;
    padding: 70px 20px;

}
.counter__item:last-child {
    border-right: 1px solid #fff;
}
.counter__item-num {
    color: white;
    font-size: 50px;
    font-family: 'Montserrat';
    font-weight: 700;
}
.counter__item-subtitle {
    color: white;
    font-size: 14px;
    font-family: 'Montserrat';
    text-transform: uppercase;

}
